{% extends 'IcapBlogBundle::layout.html.twig' %}

{% trans_default_domain "icap_blog" %}

{% block title %}{{ _resource.resourceNode.name }}{% endblock %}

{% block blog_content %}
    {# back to articles #}
    <a class="back_link" href="{{ path('icap_blog_view', {'blogId': _resource.id}) }}">
        <i class="icon-chevron-left no_underline"></i>
        {{ 'slrn_back_articles'|trans({}, 'icap_blog') }}
    </a>

    {% set isPublished = post.isPublished %}
    <article class="slrn-blog-post{% if not isPublished %} unpublished{% endif %}">

        {% include 'IcapBlogBundle:Post:postHeader.html.twig' with {'mode': 'post_view'} %}

        <div class="blog-content slrn-blog-post-content">{{ post.content|raw }}</div>

        {% include 'IcapBlogBundle:Post:postFooter.html.twig' with {'mode': 'post_view'} %}
    </article>

    {% set blogOptions = _resource.options %}
    {% if _resource.isCommentsAuthorized %}
        <ul class="list-unstyled comment_list">
        {% set postComments = post.comments %}
        {% for comment in postComments %}
            {% set isPublished = comment.isPublished %}
            {% if is_granted('EDIT', _resource) or isPublished %}
            <li class="slrn-list-with-border">
                <div class="panel {% if isPublished == false %}panel-warning{% else %}panel-default{% endif %}">
                    {% if is_granted('EDIT', _resource) %}
                    {# admin tools #}
                    <div class="panel-heading">
                        <div class="btn-group pull-right options">
                            {% if isPublished %}
                            <a href="{{ path('icap_blog_comment_unpublish', {'blogId': _resource.id, 'postSlug': post.slug, 'commentId': comment.id}) }}" class="btn btn-default btn-red btn-xs">
                                {{ 'unpublish'|trans }}
                            </a>
                            {% else %}
                            <a href="{{ path('icap_blog_comment_publish', {'blogId': _resource.id, 'postSlug': post.slug, 'commentId': comment.id}) }}" class="btn btn-default btn-green btn-xs">
                                {{ 'publish'|trans }}
                            </a>
                            {% endif %}
                            <a href="{{ path('icap_blog_comment_delete', {'blogId': _resource.id, 'postSlug': post.slug, 'commentId': comment.id}) }}" class="btn btn-xs btn-danger delete" data-confirm-title="{{ 'comment_deletion_confirm_title'|trans }}" data-confirm-message="{{ 'comment_deletion_confirm_message'|trans }}" data-confirm-ok="{{ 'delete'|trans({}, 'platform') }}" data-confirm-cancel="{{ 'cancel'|trans({}, 'platform') }}" data-toggle="tooltip" title="{{ 'delete'|trans({}, 'platform') }}" data-placement="top" data-original-title="{{ 'delete'|trans({}, 'platform') }}">
                                <i class="icon-trash"></i>
                            </a>
                        </div>
                    </div>
                        {% endif %}
                    <div class="panel-body">
                        {{ comment.message|raw }}
                    </div>
                    <div class="panel-footer">
                        <ul class="list-inline post_infos">
                            {% set authorPicture = comment.author.picture %}
                            <li>
                                {% if authorPicture is null %}
                                    <span class="icon-user"></span>
                                {% else %}
                                    <img src="{{ image( 'uploads/pictures/' ~ authorPicture ).zoomCrop(30,30) }}" alt="{{ comment.author.firstname ~ ' ' ~ comment.author.lastname }}" class="user_picture">
                                {% endif %}
                                <a class="slrn-author-link" href="{{ path('icap_blog_view_filter', {'blogId': _resource.id, 'filter': comment.author.username}) }}" rel="author" title="{{ comment.author.firstname ~ ' ' ~ comment.author.lastname }}">{{ comment.author.firstname ~ ' ' ~ comment.author.lastname }}</a>
                                {% if null != comment.publicationDate %}
                                    {% if comment.publicationDate|date('d-m-Y') == "now"|date('d-m-Y') %}
                                        {{ 'today'|trans({}, 'icap_blog' )}}
                                    {% else %}
                                        {{ 'on'|trans({}, 'icap_blog' )}}
                                        <time>{{ comment.publicationDate|date('date_format'|trans({}, 'platform')) }}</time>
                                    {% endif %}
                                    {{ 'at'|trans({}, 'icap_blog' )}}
                                    <time>{{ comment.publicationDate|date('G:i'|trans({}, 'platform')) }}</time>
                                {% endif %}
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            {% endif %}
        {% endfor %}
        </ul>
        {% if _resource.isCommentsAuthorized %}
            {% if false == is_granted('IS_AUTHENTICATED_FULLY') and false == _resource.isAuthorizeAnonymousComment %}
                <p class="slrn-grey-block slrn-info-block">
                    {{ 'icap_blog_post_comment_need_authentication'|trans({'%connection_url%': path('claro_security_login')}, 'icap_blog')|raw }}
                </p>
            {% else %}
                {% set countComments = is_granted('EDIT', _resource) ? post.countComments(true) : post.countComments %}
                <form action="{{ path('icap_blog_post_view', {'blogId': _resource.id, 'postSlug': post.slug}) }}" class="slrn-list-with-border slrn-comment-form" method="post" {{ form_enctype(form) }}>
                    {% if false ==_resource.isAutoPublishComment %}
                    <p class="slrn-grey-block slrn-info-block">
                        {{ 'icap_blog_post_comment_need_validation_before_publishing'|trans({}, 'icap_blog') }}
                    </p>
                    {% endif %}
                    {{ form_errors(form) }}
                    {{ form_widget(form.message) }}
                    {{ form_rest(form) }}
                    <div class="form-actions slrn-form-actions">
                        <a class="btn btn-primary pull-right">{{ 'i_comment'|trans }}</a>
                    </div>
                </form>
            {% endif %}
        {% endif %}
    {% endif %}
{% endblock %}

{% block javascripts %}
{{ parent() }}
{% render controller('ClarolineCoreBundle:ResourceType:initPicker') %}
<script>
    // Checking comment before sending it
    (function () {
        $('.slrn-form-actions').on('click', '.btn-primary ', function() {
            if ( $('textarea.claroline-tiny-mce').val() ) {
                $('.slrn-comment-form').submit();
            }
        });
    })();
</script>
{% endblock %}
